<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, X-Requested-With, Authorization" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Credentials" value="true" />
                <add name="Access-Control-Max-Age" value="1728000" />
            </customHeaders>
        </httpProtocol>
        
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" 
                 path="*.php" 
                 verb="GET,HEAD,POST,PUT,DELETE,OPTIONS" 
                 modules="FastCgiModule" 
                 scriptProcessor="C:\Program Files\PHP\v8.2\php-cgi.exe" 
                 resourceType="Either" 
                 requireAccess="Script" />
        </handlers>

        <rewrite>
            <rules>
                <!-- Handle OPTIONS preflight requests -->
                <rule name="CORS Preflight" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
                    </conditions>
                    <action type="CustomResponse" 
                            statusCode="200" 
                            statusReason="Preflight" 
                            statusDescription="Preflight">
                        <responseHeaders>
                            <add name="Access-Control-Allow-Origin" value="*" />
                            <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, X-Requested-With, Authorization" />
                            <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                            <add name="Access-Control-Allow-Credentials" value="true" />
                            <add name="Access-Control-Max-Age" value="1728000" />
                            <add name="Content-Type" value="text/plain" />
                            <add name="Content-Length" value="0" />
                        </responseHeaders>
                    </action>
                </rule>

                <!-- Rewrite API requests -->
                <rule name="API Rewrite" stopProcessing="false">
                    <match url="^api/(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="api/{R:1}" />
                </rule>
            </rules>
        </rewrite>

        <security>
            <requestFiltering>
                <verbs>
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <add verb="PUT" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                    <add verb="OPTIONS" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>

        <modules>
            <remove name="WebDAVModule" />
        </modules>
    </system.webServer>
</configuration>
