<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" 
                 path="*.php" 
                 verb="GET,POST,OPTIONS" 
                 modules="FastCgiModule" 
                 scriptProcessor="C:\php\php\php-cgi.exe" 
                 resourceType="Either" 
                 requireAccess="Script" />
        </handlers>

        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST" />
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
            </customHeaders>
        </httpProtocol>

        <rewrite>
            <rules>
                <rule name="Options Preflight" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
                    </conditions>
                    <action type="CustomResponse" statusCode="200" />
                </rule>
            </rules>
        </rewrite>

        <modules runAllManagedModulesForAllRequests="true">
            <remove name="WebDAVModule" />
        </modules>
    </system.webServer>
</configuration>
